body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* Remove overflow: hidden to allow scrolling */
    /* overflow: hidden; */
    background-color: #f2f2f2;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to ensure the content doesn't get cut off on small screens */
}

.header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px; /* Add spacing between calculator and footer */
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
